/* === lanes-direction Section === */
.lanes-direction{float: left; width: 100%; margin-top: -12px; z-index: 11; z-index: 1;}
.lanes-direction .common-wrap{max-width: 1277px;}
.lanes-direction-inner{float: left; width: 100%; padding: 0 42px; position: relative;}
.lanes-direction-inner:before{content: ''; position: absolute; top: 31%; left: auto; right: 84px; width: 15px; height: 271px; background-color: #272727; border-radius: 12px;}
.lanes-direction-inner:after{content: ''; position: absolute; top: 27%; left: auto; right: 0; width: 15px; height: 214px; background-color: #5E5E5E; border-radius: 12px;}
.lanes-direction-content{float: left; width: 100%; padding-left: 10%;}
.lanes-direction .section-title{float: left; width: 46.57%; padding-left: 6%;}
.lanes-direction .section-title h5{float: left; width: 100%; font-family: 'Lato', sans-serif; font-weight: 900;}
.lanes-direction .section-title span{float: left; width: 100%; color: #A8A8A8; font-family: 'Lato', sans-serif; font-weight: 400; margin-top: 25px;}
.lanes-direction-line{float: left; width: 44.2%; height: 657px; margin-left: 8.9%; position: relative; top: 36px; position: relative;}
.lanes-direction-line:before{content: ''; position: absolute; top: 80px; bottom: 0; left: auto; right: 1px; width: 14px; height: 100%; background-color: #1BA5DE;}
.lanes-direction-tab-wrap{float: left; width: 100%; padding: 0 20.2% 0 12.855%; position: absolute; top: 193px; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; justify-content: center;}
.lanes-direction-tab-inner{float: left; width: 100%;}
.lanes-direction-tab{float: left; width: 100%; background-color: #2E2E2E; min-height: 375px; border-radius: 41px;}
.lanes-direction-tab-nav{float: left; width: 92px; padding: 0 15px; position: relative; left: -16px;}
.lanes-tab-nav-inner{float: left; width: 100%; background-color: #12739B; border-radius: 30px; text-align: center;}
.direction-tab-item-wrap{float: left; width: calc(100% - 92px); padding: 103px 29px 35px 35px;}
.direction-tab-item{float: left; width: 100%; display: none;}
.direction-tab-item:first-child{display: block;}
.direction-tab-item figure{float: left; width: 25.343324%;}
.direction-tab-item-content{float: left; width: 51.683924%; margin-left: 8%; margin-top: 29px;}
.direction-tab-item-content p{float: left; width: 100%; font-size: 27px; line-height: 36px; font-family: 'Lato', sans-serif; font-weight: 700;}
.direction-tab-item-content dfn{ font-family: 'Lato', sans-serif; font-weight: 300;}
.tab-nav-item{float: left; width: 100%;}
.tabs [type="radio"]:checked,
.tabs [type="radio"]:not(:checked) { position: absolute; left: -9999px; }
.tabs [type="radio"]:checked + label,
.tabs [type="radio"]:not(:checked) + label { position: relative; cursor: pointer; font-size: 34px; line-height: 46px; display: inline-block; color: #1BA5DE; padding: 24px 17px; z-index: 11; border-radius: 30px; }
.tabs [type="radio"]:checked + label:before,
.tabs [type="radio"]:not(:checked) + label:before { content: ''; position: absolute; left: 50%; top: 0; width: 149%; height: 109%; border-radius: 41px; transform: translateX(-50%); background-color: transparent; z-index: -1; }
.tabs [type="radio"]:checked + label:before{ background-color: #1BA5DE!important; }
.tabs [type="radio"]:checked + label{ color: #ffffff!important; }
.lanes-direction-line-down{float: right; width: 44.2%; position: relative; right: 3px; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; flex-flow: row wrap; justify-content: flex-end}
/* === lanes-direction Section === */








/* =======================================================================================================
============================================ Responsive style ========================================== */

/*		Mobile Layout: 320px and 480px and more but less than or equal to 767px.
----------------------------------------------------------------------------------
*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
    input[type="text"],input[type="email"],input[type="tel"],input[type="search"],input[type="number"],input[type="submit"],input[type="password"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}

    .mobi{display: block}
    .desk{display: none}

    .solving-logo:before, .solving-logo:after{display: none}
    h1 { font-size: 44px; line-height: 52px; }
    h2 { font-size: 44px; line-height: 52px; }
    h3 { font-size: 40px; line-height: 48px; }
    h4 { font-size: 30px; line-height: 36px; }
    h5 { font-size: 24px; line-height: 30px; }
    h6 { font-size: 22px; line-height: 36px; }
    
    
    .direction-tab-item-wrap{width: 100%; padding: 42px 29px 35px 35px;}
    .direction-tab-item{text-align: center;}
    .direction-tab-item-content{width: 100%; margin-left: 0; margin-top: 22px;}
    .direction-tab-item figure{display: inline-block; float: none; width: 29.343324%;}
    .direction-tab-item-content p{font-size: 16px; line-height: 20px; padding: 0 32px;}
    .lanes-direction-tab-nav {     float: left; width: 275px; position: absolute; left: 50%; transform: translateX(-50%); top: auto; bottom: -16px; z-index: 99999;}
    .tab-nav-item{width: auto; margin: 0 3px;}
    .tabs [type="radio"]:checked + label, .tabs [type="radio"]:not(:checked) + label{position: relative; cursor: pointer; font-size: 15px; line-height: 20px; display: inline-block; color: #1BA5DE; padding: 5px 17px; z-index: 11; border-radius: 30px;}
    .tabs [type="radio"]:checked + label:before, .tabs [type="radio"]:not(:checked) + label:before{top: 50%; width: 120%; height: 120%; border-radius: 41px; transform: translateX(-50%) translateY(-50%);}
    .lanes-tab-nav-inner{display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; justify-content: space-between}

    .lanes-direction-line-down:before{content: ''; position: absolute; top: auto; bottom: 69px; width: 9px; left: auto; right: 20px; height: 80px; background-color: #282828; border-radius: 12px;}
    .lanes-direction-line-down{right: 14px;}
    .lanes-direction-line-down:after{content: ''; position: absolute; top: 25px; bottom: auto; width: 9.5px; left: auto; right: -20px; height: 84px; background-color: #575757; border-radius: 12px;}
    
    
    .lanes-line{display: none;}
    .lanes-direction-inner{padding: 0;}
    .lanes-direction-content{padding: 0;}
    .lanes-direction-line{display: none;}
    .lanes-direction .section-title span{font-size: 16px; line-height: 19px; margin-top: 17px;}
    .lanes-direction .section-title{width: 100%; padding-left: 0; padding: 0 23px 0 11px;}
    .lanes-direction-line-down img:first-child, .lanes-direction-inner:after, .lanes-direction-inner:before, .lanes-direction-inner:after{display: none}
    .lanes-direction-tab-wrap{position: relative; top: 0; margin-top: 38px; padding: 0;}
    .lanes-direction-tab {border-radius: 16px; min-height: 276px;}
    .blissway-wrap .section-title span {font-size: 24px; line-height: 34px; margin-top: 0;}
    .blissway-wrap{margin-top: -31px;}
    .blissway-tab-wrap{top: -72px;}
    .tab-item-thumb{min-height: 232px;}
    .blissway-wrap .section-title{padding-left: 11px; padding-right: 15.118383%;}
    .blissway-wrap .section-title p{font-size: 16px; line-height: 20px; margin-top: 7px;}
    .tab-item-content {float: left; position: relative; width: 100%; max-width: 100%; top: 0; left: 0; transform: translateX(0); z-index: 9;     padding: 40px 31px;}
    .tab-item ul, .new-take-content ul{margin-top: 15px;}
    .tab-item li, .new-take-content li{font-size: 16px; line-height: 22px;}
    .tab-item li:before, .new-take-content li:before{top: 5px;}
    .blissway-tab-handler { position: absolute; top: 231px; left: 50%; transform: translateX(-50%); width: 100%; max-width: 252px; height: auto; background-color: transparent; padding-right: 0; }
    .blissway-tab-handler .tab-nav-wrap {width: 58%; position: relative; right: 0; top: 30%; left: 50%; transform: translateY(-50%) translateX(-50%); z-index: 99999;}
    .blissway-tab-handler .lanes-tab-nav-inner{float: left; width: 100%; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex;}
    .blissway-wrap .section-title:after{left: 13px; width: 9px; height: 150px; bottom: 32px; z-index: 99;}

}

